
/*==============================================================================
******************   Page Not Found Styles For The Site  *****************
==============================================================================*/
.error-container{
    text-align: center;
    height: 603px;
    background: $color-light-grey5;
    font-family: $roboto-medium;
    position: relative;
    h1{
        font-size: 220px;
        color: $base-blue;
        position: absolute;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translate(-50%, -50%);
        font-weight: 300;
        left: 50%;
    }
    .return{
        position: absolute;
        width: 100%;
        bottom: 32%;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 0;
        font-size: $font-size-base;
        color: $base-blue;
          .btn-red{
              i{
                margin-right: 5px;
                vertical-align: middle;
              }
          }
    }
}