<div class="grievance-details-wrapper">
  <div class="container">
    <div class="panel panel-default custom-details-panel">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          Grievance Information
        </h3>
      </div>
      <div class="panel-body">
        <div class="details-wrapper">
          <div class="row">
              <div class="col-md-4">
                  <ul class="list-inline-item list-unstyled">
                      <li>
                        <strong>Grievance Id</strong>
                      </li>
                      <li>
                        <strong>Grievance Reg. Date</strong>
                      </li>
                      <li>
                        <strong>Grievance Type</strong>
                      </li>
                      <li>
                        <strong>District</strong>
                      </li>
                      <li>
                        <strong>Block</strong>
                      </li>
                      <li>
                        <strong>Village</strong>
                      </li>
                      <li>
                        <strong>Nature of Grievance</strong>
                      </li>
                      <li>
                        <strong>Against Institution</strong>
                      </li>
                      <li>
                        <strong>Designation</strong>
                      </li>
                      <li>
                        <strong>Grievance Against Whom</strong>
                      </li>
                      <li>
                        <strong>Subject Of Grievance</strong>
                      </li>
                      <li>
                        <strong>Grievance Summary</strong>
                      </li>
                      <li>
                        <strong>Action Taken By</strong>
                      </li>
                      <li>
                        <strong>Action Remarks</strong>
                      </li>
                    </ul>
              </div>
              <div class="col-md-8">
                  <ul class="list-inline-item list-unstyled">
                      <li>GR/ED/18012019/621</li>
                      <li>2019-01-18 05:59:56</li>
                      <li>Category One</li>
                      <li>-</li>
                      <li>-</li>
                      <li>Aritar</li>
                      <li>Air Pollution</li>
                      <li>Institution One</li>
                      <li>CMO</li>
                      <li>Mr Test User</li>
                      <li>I am a brief</li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                      <li>-</li>
                      <li>-</li>
                    </ul>
              </div>   
            </div>
        </div>
      </div>
    </div>
  </div>
</div>