/*==============================================================================
**************  Grievance Redressal Wrapper Styles For The Site    *************
==============================================================================*/
.grievance-redressal-wrapper{
  .custom-table-caption{
        .form-wrapper{
            .custom-form{
                .form-group{
                    .control-label {
                        @include margin(12.5px 5px 12.5px 0);
                    }
                    .ng-select {
                        width: 150px;
                    }
                }
            }  
        }
    }
}

/*==============================================================================
**********************        Media Styles For The Site    *********************
==============================================================================*/
@media (min-width:$screen-lg){
.grievance-redressal-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .control-label {
                            @include margin(12.5px 5px 12.5px 0);
                        }
                        .ng-select {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
 .grievance-redressal-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .control-label {
                            @include margin(12.5px 5px 27.5px 0);
                        }
                        .ng-select {
                            margin: 0 5px 15px 0;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .grievance-redressal-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .control-label {
                            @include margin(12.5px 5px 27.5px 0);
                        }
                        .ng-select {
                            margin: 0 5px 15px 0;
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
 
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}