/*==============================================================================
*******************        Talukas Wrapper Styles For The Site    **************
==============================================================================*/
.talukas-wrapper{
 
}

/*==============================================================================
**********************        Media Styles For The Site    *********************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .talukas-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .ng-select {
                            width: 156px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .talukas-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .ng-select {
                            width: 156px;
                        }
                    }
                }
            }
        }
    
        .custom-datatable-wrapper{
            .table{
                &.custom-col-six-action{
                    min-width: 920px !important;
                    thead{
                        tr{
                            .custom-header-col{
                                &.action-col {
                                    width: 20% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
    .talukas-wrapper{
        .custom-datatable-wrapper{
            .table {
                min-width: 920px !important;
            }
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}