<app-nav-bar></app-nav-bar>
<div class="container">

  <div class="levelIns">
    <h2>Role of Level Users</h2>
    <ul class="help-text">

      <li> Admin creates LevelUsers and assigns level users as State/Division/District/Block Grievance access level.
      </li>
      <li>Based on their Level and Grievance Access level, level user can see grievances assigned to him on his/her
        dashboard.</li>
      <li>Level user has access to close the Grievance or to forward the grievance to next level user.</li>
      <li>Level Users can only close the Grievance,who has access to Close the Grievance, which is assigned by admin.
      </li>
      <li>If Level Users wants to know the progress click on view button,which will show Timeline from
        GrievanceRegistered
        to
        Grievance closed.</li>
    </ul>

    <h2>How to close the Grievance?</h2>
    <ul class="help-text">
      <li>level user can see Grievances which are assigned to him under <b>Accepted Grievances</b>.</li>
      <li>if user wants to close grievance,click on <b>More Details</b></li>
      <ol>
        <li>provide text in mandatory comment about the Grievance</li>
        <li>select <b>Do you think the grievance is redressed?</b> Radio button to yes</li>
        <li>select Resolved in <b>Redressed Status</b> dropdown and submit.</li>
        Selected Grievance complaint will be closed.
      </ol>
    </ul>

    <h2>Note:</h2>
    <ul class="help-text">
      <li>For Every Grievance there will be some stipulated time to take action by level user.</li>
      <li>Grievance will be automatically escalated to next level user if level user hasn’t take any action on
        Grievance
        in
        stipulated time.</li>
    </ul>
  </div>
</div>