.help-text{
    margin: 0 0 15px;
    color: #232323;
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
 ol>ul{
    list-style-type:disc;
 }

 .levelIns{
     margin: 20px 0px;
 }
