<app-nav-bar></app-nav-bar>
<!--  Forgot Password Wrapper Starts  -->
<div class="form-wrapper forgot-password-wrapper" *ngIf="!isConfirmPasswordExists">
  <app-forgot-details [userName]="true" [emailAddress]="true" [mobileNumber]="true"
    heading="{{'Forgot Password' | translate}}" [isCaptchaRequired]="true"></app-forgot-details>
</div>

<div class="form-wrapper forgot-password-wrapper" *ngIf="isConfirmPasswordExists">
  <app-forgot-details [userName]="true" [OTP]="true" [newPassword]="true" [confirmPassword]="true"
    heading="{{'Forgot Password' | translate}}"></app-forgot-details>
</div>
<!--  Forgot Password Wrapper Ends  -->