<!-- <app-nav-bar></app-nav-bar> -->
<app-header></app-header>
<!--  Reset Password Wrapper Starts  -->
<div class="form-wrapper reset-password-wrapper">
  <form class="custom-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <h3 class="form-title">Reset Password</h3>
    <div class="form-group">
      <label for="password" class="control-label">{{'Current Password' | translate}}</label>
      <div class="has-feedback">
        <input type="password" class="form-control" id="password" placeholder="{{'Current Password' | translate}}"
          formControlName="currentPassword">
        <i class="fa fa-lock form-control-feedback"></i>
      </div>
      <div *ngIf="submitted && resetPasswordF.currentPassword.errors" class="error-message">
        <div *ngIf="resetPasswordF.currentPassword.errors.required">
          {{'Current Password is required.' | translate}}
        </div>
        <!-- <div *ngIf="resetPasswordF.currentPassword.errors?.pattern">
          {{'Current Password is not valid.' | translate}}
        </div> -->
      </div>
    </div>
    <div class="form-group">
      <label for="email1" class="control-label">{{'New Password' | translate}}<sup
          class="custom-required">*</sup></label>
      <div class="input-group">
        <input type="{{showPassword}}" class="form-control" formControlName="newPassword"
          placeholder="{{'New Password' | translate}}" tabindex="3" />
        <span class="input-group-addon">
          <div *ngIf="showPassword ==='password'" class="fa fa-eye-slash" (click)="passwordShow('show')"></div>
          <div *ngIf="showPassword ==='text'" class="fa fa-eye" (click)="passwordShow('hide')"></div>
        </span>
      </div>
      <div *ngIf="submitted && resetPasswordF.newPassword.errors" class="error-message">
        <div *ngIf="resetPasswordF.newPassword.errors.required">
          {{'Password is required.' | translate}}
        </div>
        <div *ngIf="resetPasswordF.newPassword.errors?.pattern">
          {{'Password should be minimum 8 digits with 1 Uppercase, 1 Lowercase, 1 Special Character and 1 numeric
          character.' | translate}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email1" class="control-label">{{'Confirm Password' | translate}}<sup
          class="custom-required">*</sup></label>
      <div class="has-feedback">
        <input type="password" class="form-control" formControlName="confirmPassword"
          placeholder="{{'Confirm Password' | translate}}" tabindex="4" />
        <i class="fa fa-key form-control-feedback"></i>
      </div>
      <div *ngIf="submitted && !resetPasswordForm.value.newPassword && resetPasswordF.confirmPassword.errors"
        class="error-message">
        <div *ngIf="resetPasswordF.confirmPassword.errors.required">
          {{'Confirm Password is required.' | translate}}
        </div>
      </div>
      <div *ngIf="submitted && resetPasswordForm.value.newPassword" class="error-message">
        <div *ngIf="resetPasswordForm.value.confirmPassword !== resetPasswordForm.value.newPassword">
          {{'Password mismatch.' | translate}}
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-block btn-default btn-submit">{{'Submit' | translate}}</button>
  </form>
</div>
<!--  Reset Password Wrapper Ends  -->