<app-nav-bar></app-nav-bar>


<div class="container">
  <div class="beneIns">
    <div class="landing-description-wrapper">
      <h2>How to create Beneficiary?</h2>
      <ul class="help-text">
        <li>In the Login page, click on <b>NewUser?Click Here to Register</b>, to register as beneficiary.</li>
        <li>In the register page,enter all the mandatory fields along with the captcha provided and submit.</li>
        <li>After submitting, enter the otp which will be received to your registered mobile number.</li>
        <li>if the provided otp is valid, you wil be getting message ‘OTP Verified Succesfully’,and it will be
          redirected
          to
          login
          page.</li>
      </ul>

      <h2>Ways to Login:</h2>
      <ol class="help-text">
        <li><b>Login with Username/Email/Mobile</b></li>
        <ul>

          <li>Enter Username/Mobile Number/email and password along with the captcha provided to Login.</li>
        </ul>
        <div class="text-center"> <b>OR</b></div>

        <li><b>Login via Otp</b></li>
        <ul>
          <li>If beneficiary didn’t remind his password,he could enter his registered mobile number and wait for the
            otp.
          </li>

          <li>Enter the otp which beneficiary received to his registered mobile number and login.</li>
        </ul>
      </ol>
      <h2>Forgot Password?</h2>
      <ul class="help-text">
        <li>If beneficiary forgots the password,click <b>Forgot Password?</b> and enter registered mobile number</li>
        <li>Username will be sent to you registered mobilenumber and email.</li>
      </ul>


      <h2>Forgot Username?</h2>
      <ul class="help-text">
        <li>If Beneficiary forgot his username click <b>Forgot Username?</b> and enter registered mobile number.</li>

        <li>Username will be sent to you registered mobilenumber and email.</li>
      </ul>


      <h2> How to generate the Grievance?</h2>
      <ul class="help-text">
        <li> After Beneficiary Login,On the RightTop,click <b>New Grievance</b> button to create grievance.</li>

        <li>Enter all the Required Fileds and submit grievacne.</li>

        <li>Once grievance is submitted,portal will ask to give a feedback,which is optional
        </li>


        <li>If beneficiary wants to give feedback,click on <b>yes</b> and select feedback form type( <b>IPD FEEDBACK or
            OPD
            FEEDBACK</b>
          )
        </li>
      </ul>

      <h2>IPD FORM</h2>
      <ul class="help-text">
        <li>Select the hospital which Beneficiary wants to give feeback and submit</li>
        <li>
          After submit,portal displays the form,please provide all required fields and submit the form.
        </li>
        <li>
          Portal asks a confirmation like <b>Are you sure want to submit IPD Form Feedback?</b> click on <b>yes</b> and
          submit.
        </li>
        <li>
          Portal displays a message fedback submitted succesfully
        </li>
      </ul>
      <h2>OPD FORM</h2>
      <ul class="help-text">
        <li> Select the hospital which Beneficiary wants to give feeback and submit</li>

        <li>After submit,portal displays the form,please provide all required fields and submit the form.</li>
        <li>
          Portal asks a confirmation like <b>Are you sure want to submit OPD Form Feedback?</b> click on <b>yes</b> and
          submit.
        </li>
        <li>
          Portal displays a message fedback submitted succesfully.
        </li>
      </ul>

      <h2>How to check the progress of Grievance?</h2>
      <ul class="help-text">
        <li>In the Dashboard,Beneficiary can see grievances created by him/her.
        </li>
        <li>
          By default, when Beneficiary creates the Grievance. <b>Status</b> is on <b>pending</b>.
        </li>
        <li>
          If Admin Level Users, accepts the Grievance. <b>Status</b> wil be <b>Accepted</b>.</li>
        <li>
          If Admin Level Users, closes the Grievance. <b>Status</b> wil be <b>Closed</b>.</li>
        <li>
          If Admin Level Users, rejects the Grievance. <b>Status</b> wil be <b>Rejected</b>.</li>
        <li>
          If Beneficiary wants to know the progress click on <b>view</b> button,which will show Timeline from
          GrievanceRegistered
          to
          Grievance closed.</li>
      </ul>

      <h2>How to reopen the Grievance?</h2>
      <ul class="help-text">
        <li>
          Closed Grievance can be reopened for one time by Beneficiary.</li>
        <li>
          Once Grievance is closed, Click on <b>Feedback</b> button under the <b>Action</b>,select Feedback as
          Unsatisfied and submit.
        </li>
        <li>
          Status of the grievance will be reopened.
        </li>
      </ul>
    </div>
  </div>

</div>