<!-- <app-header></app-header> -->
<!-- Dashboard Wrapper Starts -->
<!-- <section class="dashboard-wrapper">
  <div class="container">
    <div class="custom-table-caption">
      <div class="row">
        <div class="col-sm-6" *ngIf="grievanceHistoryData">
          <h3 class="page-title grievance-dashboard-page-title">{{'Grievance Timeline'| translate}}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="timeline" *ngFor="let data of grievanceHistoryData ; even as e">
          <div *ngIf="e" class="timeline-container left">
            <div class="content">
              <h2> {{ data.date | date:
                'EEE, MMM d, yyyy hh:mm a' }}</h2>
              <p> {{ data.comment }} </p>
            </div>
          </div>

          <div *ngIf="!e" class="timeline-container right">
            <div class="content">
              <h2> {{ data.date | date:
                'EEE, MMM d, yyyy hh:mm a' }}</h2>
              <p> {{ data.comment }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Dashboard Wrapper Ends -->

<!--  Spinner Starts -->
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#234d20" type="line-scale"></ngx-spinner> -->
<!--  Spinner Ends -->
