/*==============================================================================
*****************    Grievance Nature Wrapper Styles For The Site    ***********
==============================================================================*/
.grievance-nature-wrapper{
    .custom-datatable-wrapper{
        .table{
            thead{
                tr{
                    .custom-header-col{
                        width: 25% !important;                     
                        &.status-col{
                            width: 5% !important;
                        }
                        &.action-col{
                            width: 25% !important;
                        }
                    }
                }
            }
        }
    }
}

/*==============================================================================
**********************        Media Styles For The Site    *********************
==============================================================================*/
@media (min-width:$screen-lg){
    .grievance-nature-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .ng-select {
                            width: 190px;
                        }
                    }
                } 
            } 
        } 
    }
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
    .grievance-nature-wrapper{
        .custom-table-caption{
            .form-wrapper{
                .custom-form{
                    .form-group{
                        .ng-select {
                            width: 190px;
                        }
                    }
                } 
            } 
        } 
    } 
  }
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .grievance-nature-wrapper{
        .custom-table-caption{
                .form-wrapper{
                    .custom-form{
                        .form-group {                           
                            @include margin(0);
                            .control-label{
                                @include padding(11px 0);
                                width: 30%;
                                &.time-label{
                                    width: 30%;
                                }
                            }
                            .ng-select,
                            .custom-select,
                            .custom-input,
                            .custom-date-picker,
                            .custom-timepicker{
                                @include margin(0 0 15px);
                                width: 70%;
                            }
                        }
                    }
                }
            } 
        .custom-datatable-wrapper{
            .table{
                min-width: 760px !important;
                thead{
                    tr{
                        .custom-header-col{
                            width: 27.5% !important;                     
                            &.status-col{
                                width: 5% !important;
                            }
                            &.action-col{
                                width: 25% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}
