<app-header></app-header>
<!-- Dashboard Wrapper Starts -->
<section class="dashboard-wrapper">
    <div class="container">
        <div class="custom-table-caption">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="page-title grievance-dashboard-page-title">Sample Heading</h3>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="javascript:void(0);" class="btn btn-edit">
                        Create Grievance
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tile-main-wrapper">
                    <div class="tile-row">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="tile-wrapper tile-red">
                                    <div class="tile-header-wrapper">
                                        <h3 class="tile-title">Total Grievance Registered</h3>
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <p class="tile-count"><i class="fa fa-list-ul tile-icon"></i>101</p>
                                        <p class="tile-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="tile-wrapper tile-orange">
                                    <div class="tile-header-wrapper">
                                        <h3 class="tile-title">Number of Grievance Pending</h3>
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <p class="tile-count"><i class="fa fa-clock-o tile-icon"></i>102</p>
                                        <p class="tile-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="tile-wrapper tile-green">
                                    <div class="tile-header-wrapper">
                                        <h3 class="tile-title">Number of Grievances Closed</h3>
                                    </div>
                                    <div class="tile-content-wrapper">
                                        <p class="tile-count"><i class="fa fa-check tile-icon"></i>103</p>
                                        <p class="tile-text">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <!-- States List Wrapper Starts -->
                <div class="states-list-wrapper">
                    <div class="custom-datatable-wrapper">
                        <table class="table table-condensed table-bordered custom-col-five-action row-border hover">
                            <thead>
                                <tr>
                                    <th class="custom-header-col">ID</th>
                                    <th class="custom-header-col">First name</th>
                                    <th class="custom-header-col">Last name</th>
                                    <th class="custom-header-col status-col">Status</th>
                                    <th class="custom-header-col action-col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col status-col">
                                        <span class="badge badge-active">Active</span>
                                    </td>
                                    <td class="custom-body-col action-col">
                                        <a href="javascript:void(0);" class="btn btn-edit">
                                            <i class="fa fa-pencil custom-icon"></i>Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-delete">
                                            <i class="fa fa-trash-o custom-icon"></i>Delete</a>
                                        <a href="javascript:void(0);" class="btn btn-inactive">
                                            <i class="fa fa-ban custom-icon"></i>Inactive</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col status-col">
                                        <span class="badge badge-active">Active</span>
                                    </td>
                                    <td class="custom-body-col action-col">
                                        <a href="javascript:void(0);" class="btn btn-edit">
                                            <i class="fa fa-pencil custom-icon"></i>Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-delete">
                                            <i class="fa fa-trash-o custom-icon"></i>Delete</a>
                                        <a href="javascript:void(0);" class="btn btn-inactive">
                                            <i class="fa fa-ban custom-icon"></i>Inactive</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col">Lorem Ipsum</td>
                                    <td class="custom-body-col status-col">
                                        <span class="badge badge-active">Active</span>
                                    </td>
                                    <td class="custom-body-col action-col">
                                        <a href="javascript:void(0);" class="btn btn-edit">
                                            <i class="fa fa-pencil custom-icon"></i>Edit</a>
                                        <a href="javascript:void(0);" class="btn btn-delete">
                                            <i class="fa fa-trash-o custom-icon"></i>Delete</a>
                                        <a href="javascript:void(0);" class="btn btn-inactive">
                                            <i class="fa fa-ban custom-icon"></i>Inactive</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- States List Wrapper Ends -->

            </div>
        </div>
    </div>
</section>
<!-- Dashboard Wrapper Ends -->
