
/*==============================================================================
***********************  Custom Btn Styles For The Site  ***********************
==============================================================================*/
.badge{
    @include margin(0);
    @include padding(3px 7px);
    @include transition(all 0.3s ease-in-out);
    @include border-radius(0);
    font-family: $roboto-regular;
    font-size: $font-size-base;
    line-height: 1.3;
    text-transform: capitalize;
    display: inline-block; 
    min-width: 70px;
    cursor: default;
    &.badge-blue{
        background-color: $base-blue;
        color: $white;     
        border: 1px solid $base-blue; 
        .custom-icon{
            @include margin(0 10px 0 0);
        }
        &:hover,&:focus{
            background-color: $base-blue;
            color: $white;  
            border: 1px solid $base-blue; 
        }
    }
    &.badge-red{
        background-color: $base-red;
        color: $white;     
        border: 1px solid $base-red; 
        .custom-icon{
            @include margin(0 10px 0 0);
        }
        &:hover,&:focus{
            background-color: $base-red;
            color: $white;  
            border: 1px solid $base-red; 
        }
    }
    &.badge-orange{
        background-color: $base-orange;
        color: $white;     
        border: 1px solid $base-orange; 
        .custom-icon{
            @include margin(0 10px 0 0);
        }
        &:hover,&:focus{
            background-color: $base-orange;
            color: $white;  
            border: 1px solid $base-orange; 
        }
    }
    &.badge-active{
        background-color: $base-green;
        color: $white;      
        border: 1px solid $base-green; 
        .custom-icon{
            @include margin(0 10px 0 0);
        }
        &:hover,&:focus{
            background-color: $base-green;
            color: $white;  
            border: 1px solid $base-green; 
        }
    }
    &.badge-inactive{
        background-color: $base-grey;
        color: $light-black;      
        border: 1px solid $base-grey; 
        cursor: no-drop;
        .custom-icon{
            @include margin(0 10px 0 0);
        }
        &:hover,&:focus{
            background-color: $base-grey;
            color: $light-black;  
            border: 1px solid $base-grey; 
        }
    }
    &.badge-reopen{
        background-color: $light-blue;
        color: $white;      
        border: 1px solid $light-blue; 
        cursor: default;
        .custom-icon{
            @include margin(0 10px 0 0);
        }
        &:hover,&:focus{
            background-color: $light-blue;
            color: $white;  
            border: 1px solid $light-blue; 
        }
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}

