
/*
================================================================================
***********************  Custom Tab Styles For The Site  ***********************
================================================================================
*/
/*--  Tab Wrapper Styles  --*/
.tabs-wrapper{
    position: relative;
    /*--  Nav Styles  --*/
    .nav-tabs{
        border-bottom: 0;
        border-bottom: 1px solid #ddd;;
        li{
            @include margin(0 2px -1px 0);
            a{
                @include padding(10px 15px);
                @include margin(0);
                @include transition(all 0.3s ease-in-out);
                @include border-radius(0);
                background-color: #344354;
                color: #fff;
                font-family: $roboto-regular;
                font-size: $font-size-base;
                position: relative;
                border: 1px solid #344354;
                z-index: 1;          
                &:hover,&:focus{      
                    background-color: #fff;                   
                     color: #344354;             
                     border: 1px solid #344354;
                     border-bottom: 1px solid #fff;
                }
            }            
            &.active{
                a{
                    background-color: #fff;
                    color: #344354;
                    border: 1px solid #ddd;
                    border-bottom: 1px solid #fff;
                    &.active{
                        color: #344354;
                    }
                }
            }
            &.disabled{
                background: #344354;
                color: #fff;
                a{
                    color: $dark-grey5;
                    background-color: transparent;                    
                }
            }            
        }
    }
    .nav-justified{
        @include margin(0 auto 15px);
        border-bottom: 0;
        li{
            @include padding(0 0 0 20px);
            a{
                @include padding(25px 0);
                @include margin(0);
                // @include transition(all 0.3s ease-in-out);
                color: $white;
                font-family: $roboto-regular;
                background-color: $light-black1;
                font-size: $font-size-base;
                position: relative;
                border: 0;
                &:hover,&:focus{                    
                    border: 0;
                    background-color: $light-blue;
                }
                i{
                    @include margin(0 15px 0 0);
                    font-size: $font-size-large;
                }
            }            
            &.active{
                a{
                    color: $white;
                    background-color: $light-blue;                   
                }
            }
            &:first-child{
                @include padding(0);
            }
            &.disabled{
                a{
                    color: $white;
                    background-color: $light-black1;                 
                    &:hover,&:focus{
                        color: $white;
                        background-color: $light-black1;
                    }
                }
            }
        }
    }

    /*--  Tab Content Styles  --*/
    .tab-content{
        .states-list-wrapper{
            .custom-datatable-wrapper{
                border-top: none;
                  table{
                      tbody{
                            tr{
                                .custom-body-col{
                                    &.action-col{
                                        .btn{
                                            @include margin(0 3px);
                                           
                                        }
                                    }
                                }
                            }
                      }
                  }
            }
        }
        .tab-pane{
            .pane-title{
                @include margin(15px 0 0);
                @include padding(15px 0);
                color: $dark-grey5;
                font-weight: normal;
                font-family: $roboto-regular;
                border-top: 2px solid $dark-grey6;
            }
            .pane-header-wrapper{
                @extend .text-right;
                @include padding(30px);
                @include margin(0 0 15px);
                background-color: $white;
                border: 1px solid $dark-grey3;
            }
            .pane-body-wrapper{
                .tiles-wrapper{
                    @extend .text-center;
                    @include square(280px);
                    @include padding(30px);
                    background-color: $white;
                    font-family: $roboto-regular;
                    border: 1px solid $dark-grey3;
                    p{
                        @include margin(60px 0 20px);
                        color: $dark-grey5;
                        font-size: $font-size-base;
                    }
                }
            }
            .pane-footer-wrapper{
                @include margin(0 0 15px);
                @include padding(15px 0);
                font-family: $roboto-regular;
                border-top: 2px solid $dark-grey6;
                .btn-red{
                    @include margin(0 15px 0 0);
                    display: inline-block;
                }
            }
        }
    }
}

/*--  Custom Tabs Wrapper Styles  --*/
.custom-tabs-wrapper{
    .nav-tabs{
        border-color: $atomic10;
        > li{
            > a{
                @extend .text-uppercase;
                @include padding(5px 25px);
                @include border-radius(0);
                @include transition(all 0.3s ease-in-out);
                font-family: $roboto-regular;
                font-size: $font-size-small;
                color: $blue-bayoux4;
                &:hover, &:focus{
                    background-color: $san-juan10 !important;
                    color: $gull-grey;
                    border-color: $big-stone1;
                }
            }
            &.active > a{
                background-color: $san-juan10 !important;
                color: $gull-grey;
                border-color: $big-stone1;
                &:focus, &:hover{
                    background-color: $san-juan10 !important;
                    border-color: $big-stone1;
                    color: $gull-grey;
                }
            }
        }
    }
    .tab-content{
        @include padding(15px);
        .table-custom-condensed{
            @include margin(0 0 15px);
            @include padding(15px);
            background-color: $oxford-blue1;
            border: 1px solid $oxford-blue2;
            overflow: hidden;
            h3{
                @extend .text-uppercase;
                color: $venice-blue1;
                position: relative;
                span{
                    @extend .pull-right;
                    color: $atomic11;
                }
                strong{
                    @extend .pull-right;
                    color: $atomic11;
                    font-family: $roboto-medium;
                    font-size: ($font-size-small * 2);
                }
            }
            .table{
                > tbody {
                    > tr{
                        > td{
                            @extend .text-capitalize;
                            color: $fiord12;
                            border-top: 1px solid $bismark2;
                            .file-icon{
                                @extend .pull-right;
                                color: $venice-blue1;
                                font-size: $font-size-large;
                            }
                        }
                    }
                }
            }
        }
        .recent-activity-list{
            @include margin(0);
            li{
                @include padding(3px 0);
                font-family: $roboto-medium;
                font-size: ($font-size-base - 1);
                line-height: ($line-height-computed * 1.05);
                text-transform: none;
                color: $fiord12;
            }
        }
    }
}

/*--  Custom Tab Styles  --*/
.custom-tab{
    background-color: $cello1;
    @include margin(0);
    @include padding(15px);
    .nav-tabs{
        border-bottom: 4px solid $san-juan11;
        > li{
            > a{
                color: $shuttle-grey1;
                border: 0;
                &:hover, &:focus{
                    background-color: transparent;
                }
            }
            &.active{
                > a{
                    background-color: transparent;
                    border: 0;
                    &:hover, &:focus{
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .tab-content{
        .list-group{
            @include margin(0);
            @include padding(0);
            height: 155px;
            position: relative;
            overflow-y: auto;
            .list-group-item{
                @include padding(10px 0);
                background-color: transparent;
                font-size: $font-size-small;
                border: 0;
                border-bottom: 1px solid $san-juan11;
            }
        }
        .view-all{
            @extend .pull-right;
            @include margin(10px 0 0);
            @include padding(5px 10px);
            @include border-radius(15px);
            background-color: $bismark9;
            color: $silver3;
            font-size: $font-size-small;
            display: inline-block;
        }
    }
}

/*--  Custom Tab Wrapper Styles  --*/
.custom-tab-wrapper{
    .custom-tabs{
        @include margin(25px 0);
        border: 0;
        li {
            a {
                @extend .text-uppercase;
                @include margin(0 15px);
                @include padding(5px 0);
                @include transition(all 0.3s ease-in-out);
                background-color: transparent;
                color: $lynch4;
                cursor: pointer;
                font-family: $roboto-regular;
                font-size: ($font-size-small - 2);
                line-height: ($line-height-computed * .6);
                font-weight: normal;
                position: relative;
                border: 0;
                &:hover {
                    background-color: transparent;
                    color: $persian-green6;
                }
            }
            &.active a {  
                background-color: transparent;
                color: $persian-green6;
                border: 0;
                &:hover {
                    background-color: transparent;
                    color: $persian-green6;
                }
            }
            a { 
                &:after {
                    @include size(100%,2px);
                    @include transition(all 0.3s ease-in-out);
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    background-color: transparent;
                }
                &:hover:after {
                    background-color: $persian-green6;
                }
            }
            &.active a:after {
                background-color: $persian-green6;
            }
        }
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
    /*--  Tab Wrapper Styles  --*/
    .tabs-wrapper{
        .nav-tabs{
            li{
                a{
                    font-size: $font-size-small;
                }
            }
        }
        .nav-justified{
            li{
                @include padding(15px 0 0 0);
            }
        }
        /*--  Tab Content Styles  --*/
        .tab-content{
            .tab-pane{
                .pane-header-wrapper{
                    @include padding(15px);
                }
                .pane-body-wrapper{
                    .tiles-wrapper{
                        @include padding(15px);
                    }
                }
            }
        }
    }
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}