
/*
================================================================================
******************   Typography Styles For The Site      ***********************
================================================================================
*/ 

/*--  Heading Styles  --*/  
h1,h2,h3,h4,h5,h6{
    @extend .text-capitalize;
    @include margin(0 0 15px);
    color: $light-black;
    font-family: $roboto-bold;   
}
h2{
    font-size: ($font-size-large * 2);
    line-height: ($line-height-computed *1.5);  
}
h2{
    font-size: ($font-size-base *1.5);
    line-height: ($line-height-computed *1.05);  
}
h3{
    font-size: $font-size-base;
    line-height: ($line-height-computed *.9);  
}
h4{
    font-size: ($font-size-base - 1);
    line-height: ($line-height-computed *.9);  
}
h5{
    font-size: ($font-size-base - 1);
    line-height: ($line-height-computed *.9);  
}
h6{
    font-size: ($font-size-base - 1);
    line-height: ($line-height-computed *.9);  
}

/*--  Paragraph Styles  --*/  
p{
    @include margin(0 0 15px);
    color: $hoki1;
    font-family:  $roboto-regular;  
}
.link{
    &:hover,&:focus{
        color: $link-hover;
    }
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}