/*==============================================================================
*******************        Register Wrapper Styles For The Site    *************
==============================================================================*/
.register-wrapper{
    max-width: 100%;
      .custom-form{
        .form-group{            
            .help-link{
                display: block;
                width: 100%;
                text-align: right;
                position: relative;
                top: 0;
            }
        }              
        .btn-submit{
            @include margin(0 auto);
        }
    }
}

/*==============================================================================
**********************        Media Styles For The Site    *********************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
 
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}