<!--  Footer Wraapper Starts  -->
<footer class="footer-wrapper sticky-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-7 xxs-block">
        <p class="footer-text">
          <!-- {{'Content owned by' | translate}} -->
          <a class="help-text-link" href="javascript:void(0);"
            tabindex="-1">{{'Designed and Maintained by Piramal Swasthya' | translate}}</a>
        </p>
      </div>
      <div class="col-xs-5 xxs-block text-right">
        <ul class="list-inline footer-list">
          <li class="footer-list-item"><a class="footer-link right-divider" href="javascript:void(0);"
              tabindex="-1">{{'Contact Us' | translate}}</a></li>
          <li class="footer-list-item"><a class="footer-link" href="javascript:void(0);"
              tabindex="-1">{{'Disclaimer' | translate}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--  Footer Wraapper Ends  -->